body {
    background: lightblue url("https://s3.amazonaws.com/media.eremedia.com/uploads/2017/07/pt.jpg") repeat-y right top;
}

p {
    color: white;
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
    text-shadow: 4px 4px 4px rgb(133, 132, 132);
  }

#Form-section {
    color: lightblue;
    padding: 20px;
}

#Page-heading {
    text-align: center;
    color: wheat;
    font-size: 100px;
    background-color: #9999ff;
    animation-name: headcolor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#list-description {
    color: black;
}

#container {
    border: solid rgb(128, 75, 128) 20px;
}

.row {
    font-size: 20px;
    font-weight: bold;
    color: #ff6699;
    background-color: #ffcc99;
}

.column {
    padding: 40px;
}

span {
    margin: 20px;
    color: white;
    background-color: navy;
}

@keyframes headcolor {
    from {background-color:  #9999ff;}
    to {background-color: mediumseagreen;}
  }

.custom {
    cursor: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/mozilla/36/personal-computer_1f4bb.png), auto;
  }

@media only screen and (max-width: 1200px) {
    body {
        background-color: rgb(19, 136, 151);
        font-size: 200%;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: pink;
        font-size: 300%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-color: brown;
        font-size: 400%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: green;
        font-size: 500%;
        .post .sc_image img { display: none; };  
    }
}




